[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-bootstrap3 = "==3.3"
django-extensions = "*"
reportlab = "==3.5.59"
psycopg2-binary = "==2.8.6"
Django = "==1.11.2"

[dev-packages]

[requires]
python_version = "2.7"
